# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.bin
*.bin
game/dota_addons/test3/scripts/shops/1.sublime-workspace
game/dota_addons/test3/panorama_debugger.cfg
game/dota_addons/test3/panorama/scripts/custom_game/tws_trigger_button.vjs_c
game/dota_addons/test3/tools_asset_info.bin
game/dota_addons/test3/resource/custom_game_whitelist.txt
