#QuestPanel{
  margin-left: 50px;
  margin-top: 110px;
  flow-children:down;
 
}
.Progress{
  width: 300px;
  height: 20px;
  border:1px solid #563C35;
  padding:3px;
  box-shadow:inset #532017 0px 0px 6px;
  background-color:#000000ff;
  border-radius:5px;
}

.CommunityChallengeProgressLeft{
  /*background-color:gradient( linear, 0% 0%, 0% 100%, from( accentColor ), to( #EEEE00 ) );
  box-shadow:inset accentColorGlow 0px 0px 6px;*/
  border-radius:3px;
}

.SliderLable{
  horizontal-align:right;
}

.AchievementQuestLable{
  horizontal-align:right;
  flow-children:right;
}


.SliderInfo{
    margin-top:30px;
    text-shadow :1px 1px 10px 5.0 #DC143C;
    font-size:18px;
    color:#EEEE00;
    font-family:Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
}

.Panle_MarginStyle{
  margin-bottom:12px; 
}

.Progress_Left
{
  background-color:gradient( linear, 0% 0%, 100% 0%, from( #242424 ), to( #CD2626 ) );
  /*box-shadow:inset accentColorGlow 2px 3px 6px;*/
  border-radius:6px;
  width: 0%;
  height: 100%;
  border:1px solid #563C35;
 
}

.Progress_Right{
  width: 100%;
  height: 100%;
}