
/*.player {
    margin: 20px 1px;
    width: 20%;
    height: width-percentage(78.75%);
    overflow: clip;
}
*/
.player DOTAHeroImage {
/*    vertical-align: top;
    horizontal-align: center;*/
    height: width-percentage(56.25%);
}
#PlayerGap {
/*    vertical-align: top;
    horizontal-align: center;*/
    height: width-percentage(56.25%);
    background-color: #000;
}
#PlayerName {
    vertical-align: bottom;
    horizontal-align: center;
    padding: 2px 0;
    height: 14px;
    font-size: 12;
    color: #cccccc;
    text-overflow: clip;
}
#CaptainMark {
    padding: 5px;
    font-size: 12;
    font-weight: bold;
    color: #ff666680;
}

#_ability_list{
    flow-children: right;
    padding-left:  10%;
    padding-top:   10%;
    horizontal-align: left;
    width:  100%;
}



#Abilities {
    flow-children: right;
    vertical-align: center;
    horizontal-align: center;
    width: 100%;
    height: 100%;
}
#Abilities Button {
    vertical-align: center;
    max-width: 80px;
    width: 100%;
    height: width-percentage(100%);
    margin: 10px;
}

#Abilities Button:active {
    padding-bottom:5%;
    padding-left:5%;
    padding-right:5%;
    padding-top:5%;
}



#Abilities DOTAAbilityImage {
    margin: 5px;
    /*border: 3px solid #99999950;*/
}

#Abilities Button:disabled DOTAAbilityImage {
    saturation: 0;
}

#Abilities Label {
    vertical-align: bottom;
    text-align:center;
    horizontal-align: right;
    background-color:black;
    font-weight: bold;
    font-size: 18;
    text-shadow: 0px 0px 1px #FF7500;
    width: 25%;
    height: 25%;
    color: #EACD76;
    font-family: Radiance;
}

Button:enabled DOTAAbilityImage:hover
{
    box-shadow: inset #ffffff80 2px 2px 0px 4px;
    color: #FFF;
    background-color: #000000FF;
}

Button:enabled DOTAAbilityImage:active
{
    padding-bottom:9px;
    padding-left:10px;
    padding-right:10px;
    padding-top:11px;
}

.notEnoughDark
{
    wash-color :#ffb3a7;
    brightness: 0.2;
}
