#player_ability_list{
    flow-children: right;
    padding-left:  10%;
    horizontal-align: center;
    vertical-align: center;
    width:  100%;
    height: 50%;
}


#PlayerAbilities {
    flow-children: right;
    vertical-align: center; 
    padding-left: 5%;
    width: 100%;
    height: 100%;
}

#PlayerAbilities Button:disabled DOTAAbilityImage {
    saturation: 0;
}

#PlayerAbilities Button:active {
    padding-bottom:5%;
    padding-left:5%;
    padding-right:5%;
    padding-top:5%;
}


#PlayerImage{
    width:  15%;
    height: 100%;
}
#PlayerAbilities Button {
    vertical-align: center;
    max-width: 80px;
    width: 100%;
    height: width-percentage(100%);
    margin: 10px;
}

#PlayerAbilities DOTAAbilityImage {
    /*margin: 5px;*/
    border: 3px solid #99999950;
}

Button:enabled DOTAAbilityImage:hover
{
    box-shadow: inset #ffffff80 2px 2px 0px 4px;
    color: #FFF;
    background-color: #000000FF;
}

Button:enabled DOTAAbilityImage:active
{
    padding-bottom:9px;
    padding-left:10px;
    padding-right:10px;
    padding-top:11px;
}



.notEnoughDark
{
    wash-color :#ffb3a7;
    brightness: 0.2;
}


#PlayerAbilities Label {
    vertical-align: bottom;
    text-align:left;
    horizontal-align: left;
    font-size: 17;
    width: 100%;
    height: 25%;
    color: #FFFF00;
    font-family: Radiance;
}

