
.ParticleTriggerButtonPanel {
    position: 5px 200px 0;
    width: 35px;
    height: 35px;
}

.CourierTriggerButtonPanel {
    position: 5px 250px 0;
    width: 35px;
    height: 35px;
}

.SaveGameTriggerButtonPanel {
    position: 5px 300px 0;
    width: 35px;
    height: 35px;
}


#ParticleTriggerButton {
    height: 32px;
    width: 32px;
    background-image: url("s2r://panorama/images/control_icons/brackets_png.vtex");
    background-size: 30px;
    brightness: 1.0;
    wash-color: #CDF;
    opacity: 0.5;
    z-index: -1;
    transition-property: background-image;
    transition-duration: .18s;
    transition-timing-function: ease-in-out;
    tooltip-position: top;
    vertical-align: bottom;
}


#CourierTriggerButton {
    height: 32px;
    width: 32px;
    background-image: url("s2r://panorama/images/control_icons/brackets_png.vtex");
    background-size: 30px;
    brightness: 1.0;
    wash-color: #CDF;
    opacity: 0.5;
    z-index: -1;
    transition-property: background-image;
    transition-duration: .18s;
    transition-timing-function: ease-in-out;
    tooltip-position: top;
    vertical-align: bottom;
}


#SaveTriggerButton {
    height: 32px;
    width: 32px;
    background-image: url("s2r://panorama/images/hud/reborn/shared_content_rest_psd.vtex");
    background-size: 30px;
    brightness: 1.0;
    wash-color: #CDF;
    opacity: 0.5;
    z-index: -1;
    transition-property: background-image;
    transition-duration: .18s;
    transition-timing-function: ease-in-out;
    tooltip-position: top;
    vertical-align: bottom;
}

.ParticlePanelOutBlock {
    pre-transform-scale2d: 1;
    transition-property: opacity, box-shadow, pre-transform-scale2d;
    transition-duration: 0.37s;
    position: 0 100px 0;
    /*x,y,z position:absolute? auto?*/
    width: 100%;
    height: 75%;
    border-top: 0px solid #333;
    border-bottom: 0px solid #333;
    overflow: clip;
    /*overflow:hidden*/
    horizontal-align: center;
}

.SavePanelOutBlock {
    pre-transform-scale2d: 1;
    transition-property: opacity, box-shadow, pre-transform-scale2d;
    transition-duration: 0.37s;
    position: 0 250px 0;
    /*x,y,z position:absolute? auto?*/
    width: 100%;
    height: 50%;
    border-top: 0px solid #333;
    border-bottom: 0px solid #333;
    overflow: clip;
    /*overflow:hidden*/
    horizontal-align: center;
}

.ParticlePanelContainer {
    width: 80%;
    height: 100%;
    margin-left: 14%;
    background-color: #181818;
    flow-children: down;
}

.SavePanelContainer {
    width: 80%;
    height: 100%;
    margin-left: 14%;
    background-color: #181818;
    flow-children: down;
}

.ParticlePanel {
    pre-transform-scale2d: 1;
    transition-property: opacity, box-shadow, pre-transform-scale2d;
    transition-duration: 0.37s;
    width: 100%;
    height: 40%;
    border-top: 0px solid #333;
    border-bottom: 0px solid #333;
    margin-top: 2%;
    margin-left: 1%;
    overflow: clip;
    /*overflow:hidden*/
    flow-children: right;
}

.SavePanel {
    pre-transform-scale2d: 1;
    transition-property: opacity, box-shadow, pre-transform-scale2d;
    transition-duration: 0.37s;
    width: 100%;
    height: 75%;
    border-top: 0px solid #333;
    border-bottom: 0px solid #333;
    margin-top: 2%;
    margin-left: 1%;
    overflow: clip;
    /*overflow:hidden*/
    flow-children: right;
}

.ParticlePanelDown {
    pre-transform-scale2d: 1;
    transition-property: opacity, box-shadow, pre-transform-scale2d;
    transition-duration: 0.37s;
    width: 100%;
    height: 20%;
    border-top: 0px solid #333;
    border-bottom: 0px solid #333;
    overflow: clip;
    /*overflow:hidden*/
}

.ParticleRadioButton {
    width: 300px;
    height: 300px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 4px;
}

.ParticleRadioButton:hover {
    box-shadow: #FEE38C 0px 0px 3px 0px;
}

.ParticleRadioButton:selected {
    background-color: gradient( linear, 0% 0%, 100% 100%, from( #568e2658), to( #24420a58));
    box-shadow: #7fe22a 0px 0px 10px 0px;
}

.SaveRadioButton {
    width: 300px;
    height: 375px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 4px;
}

.SaveRadioButton:hover {
    box-shadow: #FEE38C 0px 0px 3px 0px;
}

.SaveRadioButton:selected {
    background-color: gradient( linear, 0% 0%, 100% 100%, from( #568e2658), to( #24420a58));
    box-shadow: #7fe22a 0px 0px 10px 0px;
}

.LoadDetail {
    flow-children: right;
    width: 100%;
    height: 44px;
}

#HeroImage {
    /*width: 80px;
    height: 45px;*/
    width: 60%;
    height: width-percentage(56.25%);
    margin: 1px;
    border: 1px solid #000;
    horizontal-align: center;
}

#SaveLoadingPanel {
    horizontal-align: center;
    vertical-align: middle;
    margin: 10px 0px;
    width: 100%;
    height: 100%;
}

#SaveLoading {
    horizontal-align: center;
    vertical-align: middle;
    margin: 10px 0px;
    width: 50px;
    height: 50px;
}

#SaveLoading .Spinner {
    vertical-align: middle;
}

.attributeButtonLabel {
    vertical-align: bottom;
    text-align: right;
    horizontal-align: right;
    font-size: 20;
    width: 100%;
    height: 25%;
    color: #FFFF00;
    font-family: Radiance;
}

#ParticleConfirmButton {
    horizontal-align: left;
    vertical-align: center;
    width: 200px;
    height: 50px;
    margin-left: 50px;
    border: 1px solid #000;
    background-color: gradient( linear, 0% 0%, 0% 100%, from(#a50a04), to(#670303));
    box-shadow: inset #ffffff50 1px 1px 2px 2px;
    margin-left: 400px;
}

#ParticleConfirmButton:active {
    background-color: gradient( linear, 0% 0%, 0% 100%, from(#880303), to(#b80803));
    width: 192px;
    height: 48px;
    margin-left: 404px;
}

#ParticleConfirmButton Label {
    horizontal-align: center;
    vertical-align: center;
    font-size: 20;
    color: #fff;
    text-transform: uppercase;
}

#ParticleCancleButton {
    horizontal-align: left;
    vertical-align: center;
    width: 200px;
    height: 50px;
    margin-left: 50px;
    border: 1px solid #000;
    background-color: gradient( linear, 0% 0%, 0% 100%, from(#a50a04), to(#670303));
    box-shadow: inset #ffffff50 1px 1px 2px 2px;
    margin-left: 900px;
}

#ParticleCancleButton:active {
    background-color: gradient( linear, 0% 0%, 0% 100%, from(#880303), to(#b80803));
    width: 192px;
    height: 48px;
    margin-left: 904px;
}

#ParticleCancleButton Label {
    horizontal-align: center;
    vertical-align: center;
    font-size: 20;
    color: #fff;
    text-transform: uppercase;
}

#SaveGameButton {
    horizontal-align: left;
    vertical-align: center;
    width: 200px;
    height: 50px;
    border: 1px solid #000;
    background-color: gradient( linear, 0% 0%, 0% 100%, from(#a50a04), to(#670303));
    box-shadow: inset #ffffff50 1px 1px 2px 2px;
    margin-left: 300px;
}

#SaveGameButton:disabled {
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #5A615Ecc), to( #879695cc));
    background-image: url("s2r://panorama/images/backgrounds/background_play_button_large_2x_png.vtex");
    background-size: 320px 120px;
}

#SaveGameButton:active {
    background-color: gradient( linear, 0% 0%, 0% 100%, from(#880303), to(#b80803));
    width: 192px;
    height: 48px;
    margin-left: 304px;
}

#SaveGameButton Label {
    horizontal-align: center;
    vertical-align: center;
    font-size: 20;
    color: #fff;
    text-transform: uppercase;
}

#LoadGameButton {
    horizontal-align: left;
    vertical-align: center;
    width: 200px;
    height: 50px;
    margin-left: 50px;
    border: 1px solid #000;
    background-color: gradient( linear, 0% 0%, 0% 100%, from(#a50a04), to(#670303));
    box-shadow: inset #ffffff50 1px 1px 2px 2px;
    margin-left: 650px;
}

#LoadGameButton:disabled {
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #5A615Ecc), to( #879695cc));
    background-image: url("s2r://panorama/images/backgrounds/background_play_button_large_2x_png.vtex");
    background-size: 320px 120px;
}

#LoadGameButton:active {
    background-color: gradient( linear, 0% 0%, 0% 100%, from(#880303), to(#b80803));
    width: 192px;
    height: 48px;
    margin-left: 654px;
}

#LoadGameButton Label {
    horizontal-align: center;
    vertical-align: center;
    font-size: 20;
    color: #fff;
    text-transform: uppercase;
}

#CancleGameButton {
    horizontal-align: left;
    vertical-align: center;
    width: 200px;
    height: 50px;
    margin-left: 50px;
    border: 1px solid #000;
    background-color: gradient( linear, 0% 0%, 0% 100%, from(#a50a04), to(#670303));
    box-shadow: inset #ffffff50 1px 1px 2px 2px;
    margin-left: 1000px;
}

#CancleGameButton:active {
    background-color: gradient( linear, 0% 0%, 0% 100%, from(#880303), to(#b80803));
    width: 192px;
    height: 48px;
    margin-left: 1004px;
}

#CancleGameButton Label {
    horizontal-align: center;
    vertical-align: center;
    font-size: 20;
    color: #fff;
    text-transform: uppercase;
}

.DetailPanel {
    flow-children: down;
    horizontal-align: center;
    width: 100%;
    height: 100%;
}

.EmptyMask {
    width: 100%;
    height: 100%;
}

.EmptyMask Label {
    horizontal-align: center;
    vertical-align: center;
    font-size: 30;
    font-family: "Times New Roman";
    color: #fff;
    text-shadow: 0px 0px 4px 2.0 #ffffff10;
    text-transform: uppercase;
}

.LoadDetail Label {
    color: white;
    margin: 0px;
    height: 100%;
    width: 50%;
    font-size: 20px;
    horizontal-align: left;
    vertical-align: middle;
    text-align: left;
    transform: translateY(10px);
    text-shadow: 0px 0px 0px 1.0 #ffffff00;
    letter-spacing: 2px;
    transition-property: transform, color, text-shadow;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}

.LoadVotePanelContainer {
    width: 50%;
    height: 50%;
    background-color: #000000ee;
    flow-children: down;
    vertical-align: middle;
    horizontal-align: middle;
}

.LoadVotePanelContainer {
    width: 50%;
    height: 50%;
    background-color: #000000ee;
    flow-children: down;
    vertical-align: middle;
    horizontal-align: middle;
}

.LoadVotePanelTop {
    width: 70%;
    height: 60%;
    horizontal-align: middle;
    flow-children: right;
}

.LoadVotePanelTop Label {
    color: white;
    margin: 0px;
    height: 100px;
    width: 500px;
    font-size: 45px;
    margin-top: 25px;
    horizontal-align: left;
    vertical-align: top;
    text-align: center;
    transform: translateY(10px);
    text-shadow: 0px 0px 0px 1.0 #ffffff00;
    letter-spacing: 2px;
    transition-property: transform, color, text-shadow;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}

#SponsorPlayerImage {
    width: 100px;
    height: 100px;
    margin-top: 20px;
}

.LoadVotePanelDown {
    width: 100%;
    height: 40%;
}

#LoadAcceptButton {
    horizontal-align: left;
    vertical-align: center;
    width: 200px;
    height: 50px;
    margin-left: 50px;
    border: 1px solid #000;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #5Aa15E), to( #87d69533));
    box-shadow: inset #ffffff50 1px 1px 2px 2px;
    background-image: url("s2r://panorama/images/backgrounds/background_play_button_large_2x_png.vtex");
    background-size: 320px 120px;
    margin-left: 200px;
}

#LoadAcceptButton:active {
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #5Aa15E), to( #87d695ff));
    box-shadow: fill #00000066 -4px -4px 8px 8px;
    width: 192px;
    height: 48px;
    margin-left: 204px;
}

#LoadAcceptButton Label {
    horizontal-align: center;
    vertical-align: center;
    font-size: 20;
    color: #fff;
    text-transform: uppercase;
}

#LoadDeclineButton {
    horizontal-align: left;
    vertical-align: center;
    width: 200px;
    height: 50px;
    margin-left: 50px;
    border: 1px solid #000;
    background-color: gradient( linear, 0% 0%, 0% 100%, from(#a50a04), to(#670303));
    box-shadow: inset #ffffff50 1px 1px 2px 2px;
    background-image: url("s2r://panorama/images/backgrounds/background_play_button_2x_png.vtex");
    background-size: 320px 120px;
    margin-left: 550px;
}

#LoadDeclineButton:active {
    background-color: gradient( linear, 0% 0%, 0% 100%, from(#880303), to(#b80803));
    width: 192px;
    height: 48px;
    margin-left: 554px;
}

#LoadDeclineButton Label {
    horizontal-align: center;
    vertical-align: center;
    font-size: 20;
    color: #fff;
    text-transform: uppercase;
}

.Spinner {
    width: 48px;
    height: 48px;
    vertical-align: middle;
    background-image: url("s2r://panorama/images/status_icons/loadingthrobber_round_psd.vtex");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    animation-name: SpinnerRotate;
    animation-duration: 1.0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes 'SpinnerRotate' {
    0% {
        transform: rotateZ( 360deg);
    }
    50% {
        transform: rotateZ( 180deg);
    }
    100% {
        transform: rotateZ( 0deg);
    }
}

#Spinner {
    horizontal-align: center;
    margin-top: 10px;
}

#Spinner.SpinnerVisible {
    visibility: visible;
}