.cm_heroes_group DOTAHeroImage {
    width: 100%;
    height: width-percentage(56.25%);
    margin: 1px;
    saturation: 0;
    brightness: 0.005;
}
.cm_heroes_group RadioButton:enabled DOTAHeroImage {
    saturation: 1;
    brightness: 1;
}

/*------------------------------*/

#Heroes DOTAHeroImage {
    /*width: 80px;
    height: 45px;*/
    width: 100%;
    height: width-percentage(56.25%);
    margin: 1px;
    border: 1px solid #000;
}
#Heroes RadioButton.disableHero DOTAHeroImage {
    saturation: 0.25;
    brightness: 0.25;
}

/*------------------------------*/

RadioButton:enabled DOTAHeroImage:hover,
RadioButton:selected DOTAHeroImage {
    box-shadow: inset #ffffff80 2px 2px 0px 4px;
}

.currentSelection{
    box-shadow: inset #66ff6650 2px 2px 4px 4px;
}

