.outBlock {
    position: 0 48px 0; /*x,y,z position:absolute? auto?*/
    width: 100%;
    height: 600px;
    border-top: 0px solid #333;
    border-bottom: 0px solid #333;
    overflow: clip;  /*overflow:hidden*/
}



.mainBlock {
    position: 0 0px 0; /*x,y,z position:absolute? auto?*/
    width: 100%;
    height: 92%;
    border-top: 0px solid #333;
    border-bottom: 0px solid #333;
    background-color: #181818;
    overflow: clip;  /*overflow:hidden*/
}

.wrapper {
    width: 100%;
    height: 100%;
    padding: 5px;
    flow-children: right-wrap;
    background-color: #181818;
}

.mainTitle {
    height: 30px;
}
.mainTitle Label {
    horizontal-align: center;
    vertical-align: center;
    font-size: 30;
    font-family: "Times New Roman";
    color: #fff;
    text-shadow: 0px 0px 4px 2.0 #ffffff10;
    text-transform: uppercase;
}

#spellShopLeft{
    width: 50%;
}

#spellShopRight{
    width: 50%;
    flow-children: down;
}

.cmParentCell {
    background-color: #00000025;
    border: 1px solid #000;
    margin: 5px;
}
.AspectRatio4x3 .cmParentCell,
.AspectRatio5x4 .cmParentCell {
    margin: 0px;
}

#heroesTableStrAgi {
    flow-children: right-wrap;
   /* width: 860px;*/ /*4 free pixels to avoid wtf wrapping*/
    width: 100%;
    border: 0px solid #999;
    horizontal-align: right;
    vertical-align: top;
}

#heroesTableInt {
    flow-children: right-wrap;
   /* width: 860px;*/ /*4 free pixels to avoid wtf wrapping*/
    width: 100%;
    border: 0px solid #999;
    horizontal-align: right;
    vertical-align: top;
}

#contentSelectionButtons {
    horizontal-align: center;
    vertical-align: top;
    flow-children: right;
    width: 80%;
    height: 25%;
    border: 0px solid #999;
}




.cmHeroesRow {
    flow-children: down;
}

.isCover {
    background-color: #00000099;
}

#buyButton {
    horizontal-align: left;
    vertical-align: center;
    width: 200px;
    height: 50px;
    border: 1px solid #000;
    background-color: gradient( linear, 0% 0%, 0% 100%, from(#a50a04), to(#670303) );
    box-shadow: inset #ffffff50 1px 1px 2px 2px;
}

#buyButton:active {
    background-color: gradient( linear, 0% 0%, 0% 100%, from(#880303), to(#b80803) );
    width: 192px;
    height: 48px;
    margin-left: 8px;
}


#buyButton Label {
    horizontal-align: center;
    vertical-align: center;
    font-size: 20;
    color: #fff;
    text-transform: uppercase;
}
#sellButton {
    horizontal-align: left;
    vertical-align: center;
    width: 200px;
    height: 50px;
    margin-left: 50px;
    border: 1px solid #000;
    background-color: gradient( linear, 0% 0%, 0% 100%, from(#a50a04), to(#670303) );
    box-shadow: inset #ffffff50 1px 1px 2px 2px;
}
#sellButton:active {
    background-color: gradient( linear, 0% 0%, 0% 100%, from(#880303), to(#b80803) );
    width: 192px;
    height: 48px;
    margin-left: 58px;
}
#sellButton Label {
    horizontal-align: center;
    vertical-align: center;
    font-size: 20;
    color: #fff;
    text-transform: uppercase;
}

#attributesButton {
    horizontal-align: left;
    vertical-align: center;
    width: 200px;
    height: 50px;
    margin-left: 50px;
    border: 1px solid #000;
    background-color: gradient( linear, 0% 0%, 0% 100%, from(#a50a04), to(#670303) );
    box-shadow: inset #ffffff50 1px 1px 2px 2px;
}

#attributesButton:active {
    background-color: gradient( linear, 0% 0%, 0% 100%, from(#880303), to(#b80803) );
    width: 192px;
    height: 48px;
    margin-left: 58px;
}

#attributesButton Label {
    horizontal-align: center;
    vertical-align: center;
    font-size: 20;
    color: #fff;
    text-transform: uppercase;
}

#attrPanel {
    flow-children: right;
}

.attributeButtonLabel{
    vertical-align: bottom;
    text-align:right;
    horizontal-align: right;
    font-size: 20;
    width: 100%;
    height: 25%;
    color: #FFFF00;
    font-family: Radiance;
}

#CaptainButton {
    horizontal-align: center;
    vertical-align: center;
    width: 250px;
    height: 50px;
    border: 1px solid #000;
    background-color: gradient( linear, 0% 0%, 0% 100%, from(#a50a04), to(#670303) );
    box-shadow: inset #ffffff50 1px 1px 2px 2px;
}
#CaptainButton:active {
    background-color: gradient( linear, 0% 0%, 0% 100%, from(#880303), to(#b80803) );
}
#CaptainText,
#CaptainButton Label {
    horizontal-align: center;
    vertical-align: center;
    font-size: 20;
    color: #fff;
    text-transform: uppercase;
}

#cmSelectionTable {
    flow-children: right;
}

.TriggerButtonPanelHud{
    width: 100%;
    height: 100%;
}


.triggerButtonPanel {
    position: 1500px 1020px 0; 
    width: 160px;
    height: 60px;
    border-top: 0px solid #333;
    border-bottom: 0px solid #333;
    background-image: url("s2r://panorama/images/hud/reborn/courier_gold_bg_262_psd.vtex");
    background-size: 100% 100%;
}

#triggerButton {
   height:36px;
   width:120px;
   background-image: url("s2r://panorama/images/hud/reborn/shop_launcher_button_inrange_psd.vtex");
   brightness:1.0;
   z-index:-1;
   box-shadow:#000000aa 0px 0px 2px 2px;
   margin-left:25px;
   transition-property :background-image;
   transition-duration:.18s;
   transition-timing-function:ease-in-out;
   tooltip-position:top;
   margin-bottom:12px;
   vertical-align:bottom;
}

#triggerButton Label{

    horizontal-align: center;
    vertical-align: center;
    text-align:center;
    color: white;
    font-family: RadianceM,Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
    font-size: 17;
    font-weight: bold;
}

#triggerButton:hover
{
   brightness:3.0;
}


.Hidden {
    visibility: collapse;
}


Button:enabled DOTAAbilityImage:hover
{
    box-shadow: inset #ffffff80 2px 2px 0px 4px;
    color: #FFF;
    background-color: #000000FF;
}


#attributeButton
{
   height:75px;
   width:75px; 
   margin-left:280px;
}

#pointToGoldButton
{
   height:75px;
   width:75px; 
   margin-left:170px;
}



#attributeButton:active
{
   padding: 5px; 
}

#pointToGoldButton:active
{
   padding: 5px; 
}

.notEnoughDark
{
    wash-color :#ffb3a7;
    brightness: 0.2;
}
