.RoundTitleHudRoot
{
    width: 100%;
    height: 100%;
}


.RoundTitleHudContents
{
    width: 100%;
    height: 100%;
}

#RoundTitleToastPanel.Visible
{
    opacity: 1;
    wash-color: #4Baaff00;
    pre-transform-scale2d: 1;
}



#RoundTitleToastPanel
{
    horizontal-align: middle;
    vertical-align: top;
    margin-top: 200px;
    width: 100%;
    opacity: 0;
    wash-color: #4Baaff;
    
    pre-transform-scale2d: 0.94;
    transition-property: opacity, pre-transform-scale2d, wash-color;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}


#RoundTitleLabel
{
    font-size: 70px;
    horizontal-align: middle;
    text-align: center;
    letter-spacing: 2px;
    color: gradient( linear, 0% 0%, 0% 100%, from( #E7D291 ), to( #965D01 ) );
    text-shadow: 0px 2px 2px 4 black;
}